.about-container {
    background-color: #118ab2;
}

.about-body {
    background-color: #26547c;
    color: #ffd166;
}

.about-body img {
    width: 40px;
    margin: 10px;
}

.about-body a {
    color: #ffd166;
    text-decoration: none;
}

.card-back .about-body {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.about-image {
    background-color: #06d6a0;
}

.about-card {
    background-color: #26547c;
}
