.about-container {
    background-color: #118ab2;
}

.about-body {
    background-color: #26547c;
    color: #ffd166;
}

.card-back .about-body {
    display: flex;
    justify-content: space-around;
}

.about-image {
    background-color: #06d6a0;
}

